# PANDAS TUTORIALS

- Import libraries

In [3]:
import numpy as np
import pandas as pd

In [4]:
#  Object Creation
s = pd.Series([1,3,5,np.nan,7,8,9,])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    8.0
6    9.0
dtype: float64

In [5]:
dates = pd.date_range("20200301", periods = 20)
dates

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(20,4), index=dates, columns=list("MUFC"))
df

                   M         U         F         C
2020-03-01 -1.678034 -0.717564 -0.839948  2.271762
2020-03-02  1.160721 -0.335162  0.188214 -1.954542
2020-03-03 -1.920983  0.392438  0.280004 -0.613904
2020-03-04 -0.278997  1.175345  0.474328 -1.440089
2020-03-05  1.284739  2.140374  0.767912 -0.302631
2020-03-06 -1.800614 -1.489055 -1.881258  0.988711
2020-03-07 -0.055966  0.659398 -0.452574  0.000592
2020-03-08 -0.587954  2.238370  0.277757  0.606777
2020-03-09  0.525198 -0.836490 -0.579008  0.949859
2020-03-10  1.146451  1.237933  0.025186  0.468019
2020-03-11  0.495999  0.771069 -0.355308 -0.697485
2020-03-12  0.621297  0.605287  0.466369 -1.384930
2020-03-13 -0.645810 -0.786360 -1.718805 -1.256134
2020-03-14  0.151273  1.165368 -0.132860 -1.604665
2020-03-15  0.283577  0.870210  0.249225 -1.271417
2020-03-16  0.424692  1.053194 -0.635573 -0.043503
2020-03-17  0.555262  0.992300  1.376658 -0.584507
2020-03-18  1.619735 -1.158461  0.436152 -0.778790
2020-03-19  0.610449 -1.627450  0.033336 -0.005111
2020-03-20 -0.465237 -1.221456 -0.269398  0.066720

In [7]:
df.sort_index(axis=0, ascending=True)

                   M         U         F         C
2020-03-01 -1.678034 -0.717564 -0.839948  2.271762
2020-03-02  1.160721 -0.335162  0.188214 -1.954542
2020-03-03 -1.920983  0.392438  0.280004 -0.613904
2020-03-04 -0.278997  1.175345  0.474328 -1.440089
2020-03-05  1.284739  2.140374  0.767912 -0.302631
2020-03-06 -1.800614 -1.489055 -1.881258  0.988711
2020-03-07 -0.055966  0.659398 -0.452574  0.000592
2020-03-08 -0.587954  2.238370  0.277757  0.606777
2020-03-09  0.525198 -0.836490 -0.579008  0.949859
2020-03-10  1.146451  1.237933  0.025186  0.468019
2020-03-11  0.495999  0.771069 -0.355308 -0.697485
2020-03-12  0.621297  0.605287  0.466369 -1.384930
2020-03-13 -0.645810 -0.786360 -1.718805 -1.256134
2020-03-14  0.151273  1.165368 -0.132860 -1.604665
2020-03-15  0.283577  0.870210  0.249225 -1.271417
2020-03-16  0.424692  1.053194 -0.635573 -0.043503
2020-03-17  0.555262  0.992300  1.376658 -0.584507
2020-03-18  1.619735 -1.158461  0.436152 -0.778790
2020-03-19  0.610449 -1.627450  0.033336 -0.005111
2020-03-20 -0.465237 -1.221456 -0.269398  0.066720

In [8]:
df.sort_values(by= "U", ascending=False)

                   M         U         F         C
2020-03-08 -0.587954  2.238370  0.277757  0.606777
2020-03-05  1.284739  2.140374  0.767912 -0.302631
2020-03-10  1.146451  1.237933  0.025186  0.468019
2020-03-04 -0.278997  1.175345  0.474328 -1.440089
2020-03-14  0.151273  1.165368 -0.132860 -1.604665
2020-03-16  0.424692  1.053194 -0.635573 -0.043503
2020-03-17  0.555262  0.992300  1.376658 -0.584507
2020-03-15  0.283577  0.870210  0.249225 -1.271417
2020-03-11  0.495999  0.771069 -0.355308 -0.697485
2020-03-07 -0.055966  0.659398 -0.452574  0.000592
2020-03-12  0.621297  0.605287  0.466369 -1.384930
2020-03-03 -1.920983  0.392438  0.280004 -0.613904
2020-03-02  1.160721 -0.335162  0.188214 -1.954542
2020-03-01 -1.678034 -0.717564 -0.839948  2.271762
2020-03-13 -0.645810 -0.786360 -1.718805 -1.256134
2020-03-09  0.525198 -0.836490 -0.579008  0.949859
2020-03-18  1.619735 -1.158461  0.436152 -0.778790
2020-03-20 -0.465237 -1.221456 -0.269398  0.066720
2020-03-06 -1.800614 -1.489055 -1.881258  0.988711
2020-03-19  0.610449 -1.627450  0.033336 -0.005111

In [9]:
df["M"]

2020-03-01   -1.678034
2020-03-02    1.160721
2020-03-03   -1.920983
2020-03-04   -0.278997
2020-03-05    1.284739
2020-03-06   -1.800614
2020-03-07   -0.055966
2020-03-08   -0.587954
2020-03-09    0.525198
2020-03-10    1.146451
2020-03-11    0.495999
2020-03-12    0.621297
2020-03-13   -0.645810
2020-03-14    0.151273
2020-03-15    0.283577
2020-03-16    0.424692
2020-03-17    0.555262
2020-03-18    1.619735
2020-03-19    0.610449
2020-03-20   -0.465237
Freq: D, Name: M, dtype: float64

In [10]:
df.describe()

               M          U          F          C
count  20.000000  20.000000  20.000000  20.000000
mean    0.072290   0.256464  -0.114480  -0.329263
std     1.013385   1.183084   0.776963   1.050076
min    -1.920983  -1.627450  -1.881258  -1.954542
25%    -0.495916  -0.798892  -0.484182  -1.259954
50%     0.354134   0.632343   0.029261  -0.443569
75%     0.613161   1.081238   0.319041   0.167045
max     1.619735   2.238370   1.376658   2.271762

In [11]:
df[0:10]

                   M         U         F         C
2020-03-01 -1.678034 -0.717564 -0.839948  2.271762
2020-03-02  1.160721 -0.335162  0.188214 -1.954542
2020-03-03 -1.920983  0.392438  0.280004 -0.613904
2020-03-04 -0.278997  1.175345  0.474328 -1.440089
2020-03-05  1.284739  2.140374  0.767912 -0.302631
2020-03-06 -1.800614 -1.489055 -1.881258  0.988711
2020-03-07 -0.055966  0.659398 -0.452574  0.000592
2020-03-08 -0.587954  2.238370  0.277757  0.606777
2020-03-09  0.525198 -0.836490 -0.579008  0.949859
2020-03-10  1.146451  1.237933  0.025186  0.468019

In [12]:
df.loc[dates[9]]

M    1.146451
U    1.237933
F    0.025186
C    0.468019
Name: 2020-03-10 00:00:00, dtype: float64

In [13]:
df.loc[:, ["M", "U"]]

                   M         U
2020-03-01 -1.678034 -0.717564
2020-03-02  1.160721 -0.335162
2020-03-03 -1.920983  0.392438
2020-03-04 -0.278997  1.175345
2020-03-05  1.284739  2.140374
2020-03-06 -1.800614 -1.489055
2020-03-07 -0.055966  0.659398
2020-03-08 -0.587954  2.238370
2020-03-09  0.525198 -0.836490
2020-03-10  1.146451  1.237933
2020-03-11  0.495999  0.771069
2020-03-12  0.621297  0.605287
2020-03-13 -0.645810 -0.786360
2020-03-14  0.151273  1.165368
2020-03-15  0.283577  0.870210
2020-03-16  0.424692  1.053194
2020-03-17  0.555262  0.992300
2020-03-18  1.619735 -1.158461
2020-03-19  0.610449 -1.627450
2020-03-20 -0.465237 -1.221456

In [14]:
df.loc["20200301":"20200304", ["M","U","F","C"]]

                   M         U         F         C
2020-03-01 -1.678034 -0.717564 -0.839948  2.271762
2020-03-02  1.160721 -0.335162  0.188214 -1.954542
2020-03-03 -1.920983  0.392438  0.280004 -0.613904
2020-03-04 -0.278997  1.175345  0.474328 -1.440089

In [15]:
df.loc["20200308", ["M","U","F","C"]]

M   -0.587954
U    2.238370
F    0.277757
C    0.606777
Name: 2020-03-08 00:00:00, dtype: float64

In [18]:
df.at[dates[0], "M"]

-1.6780339081714652

In [27]:
df.iloc[0:5, 0:3]

                   M         U         F
2020-03-01 -1.678034 -0.717564 -0.839948
2020-03-02  1.160721 -0.335162  0.188214
2020-03-03 -1.920983  0.392438  0.280004
2020-03-04 -0.278997  1.175345  0.474328
2020-03-05  1.284739  2.140374  0.767912

In [28]:
df.iloc[:, 0:2]

                   M         U
2020-03-01 -1.678034 -0.717564
2020-03-02  1.160721 -0.335162
2020-03-03 -1.920983  0.392438
2020-03-04 -0.278997  1.175345
2020-03-05  1.284739  2.140374
2020-03-06 -1.800614 -1.489055
2020-03-07 -0.055966  0.659398
2020-03-08 -0.587954  2.238370
2020-03-09  0.525198 -0.836490
2020-03-10  1.146451  1.237933
2020-03-11  0.495999  0.771069
2020-03-12  0.621297  0.605287
2020-03-13 -0.645810 -0.786360
2020-03-14  0.151273  1.165368
2020-03-15  0.283577  0.870210
2020-03-16  0.424692  1.053194
2020-03-17  0.555262  0.992300
2020-03-18  1.619735 -1.158461
2020-03-19  0.610449 -1.627450
2020-03-20 -0.465237 -1.221456

In [34]:
df[df > 1]

                   M         U         F         C
2020-03-01       NaN       NaN       NaN  2.271762
2020-03-02  1.160721       NaN       NaN       NaN
2020-03-03       NaN       NaN       NaN       NaN
2020-03-04       NaN  1.175345       NaN       NaN
2020-03-05  1.284739  2.140374       NaN       NaN
2020-03-06       NaN       NaN       NaN       NaN
2020-03-07       NaN       NaN       NaN       NaN
2020-03-08       NaN  2.238370       NaN       NaN
2020-03-09       NaN       NaN       NaN       NaN
2020-03-10  1.146451  1.237933       NaN       NaN
2020-03-11       NaN       NaN       NaN       NaN
2020-03-12       NaN       NaN       NaN       NaN
2020-03-13       NaN       NaN       NaN       NaN
2020-03-14       NaN  1.165368       NaN       NaN
2020-03-15       NaN       NaN       NaN       NaN
2020-03-16       NaN  1.053194       NaN       NaN
2020-03-17       NaN       NaN  1.376658       NaN
2020-03-18  1.619735       NaN       NaN       NaN
2020-03-19       NaN       NaN       NaN       NaN
2020-03-20       NaN       NaN       NaN       NaN

In [39]:
df2 = df.copy()
df2["J"] = ["One", "Two", "Three", "Four","Five","One", "Two", "Three", "Four","Five",
"One", "Two", "Three", "Four","Five","One", "Two", "Three", "Four","Five"]
df2

                   M         U         F         C      J
2020-03-01 -1.678034 -0.717564 -0.839948  2.271762    One
2020-03-02  1.160721 -0.335162  0.188214 -1.954542    Two
2020-03-03 -1.920983  0.392438  0.280004 -0.613904  Three
2020-03-04 -0.278997  1.175345  0.474328 -1.440089   Four
2020-03-05  1.284739  2.140374  0.767912 -0.302631   Five
2020-03-06 -1.800614 -1.489055 -1.881258  0.988711    One
2020-03-07 -0.055966  0.659398 -0.452574  0.000592    Two
2020-03-08 -0.587954  2.238370  0.277757  0.606777  Three
2020-03-09  0.525198 -0.836490 -0.579008  0.949859   Four
2020-03-10  1.146451  1.237933  0.025186  0.468019   Five
2020-03-11  0.495999  0.771069 -0.355308 -0.697485    One
2020-03-12  0.621297  0.605287  0.466369 -1.384930    Two
2020-03-13 -0.645810 -0.786360 -1.718805 -1.256134  Three
2020-03-14  0.151273  1.165368 -0.132860 -1.604665   Four
2020-03-15  0.283577  0.870210  0.249225 -1.271417   Five
2020-03-16  0.424692  1.053194 -0.635573 -0.043503    One
2020-03-17  0.555262  0.992300  1.376658 -0.584507    Two
2020-03-18  1.619735 -1.158461  0.436152 -0.778790  Three
2020-03-19  0.610449 -1.627450  0.033336 -0.005111   Four
2020-03-20 -0.465237 -1.221456 -0.269398  0.066720   Five